/* IMAGE STYLING*/
img {
  height: 100%;
  width: 100%;
  border: 2px solid #999999;
  border-radius: 5px;
}

body{
  background-color: #ebebeb;
  color: black;
}

label{
  color: #337ab7;
  font-size: 14px;
}

.navbar-header{
  font-weight: bold;
}

#area_input_div {
  margin-bottom: 20px !important;
}

#mapping_message_div{
  padding-top: 25px;
  color: #94631e;
}

#marker_location_div{
  padding-top: 5px;
  color: #94631e;
}

#mapping_table_div{
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

thead{
  background-color: rgba(51, 122, 183, 0.66);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(119, 119, 119, 0.21);
}

table>tbody>tr>td, .table>tbody>tr>td{
      border-color: rgba(0, 0, 0, 0.13);
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: #777;
    color: white;
}

.pagination>.active>a{
 background-color: #1a242d;
}

.pagination>.active>a, .pagination>.active>a:hover {
  background-color: #2b3e50;
}


.navbar-default .navbar-brand {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a {
    color: #5bc0de;
    font-size: small;
}

.navbar-default .navbar-nav>.active>a {
    color: #f5f5f5;
    background-color: #337ab7 !important;
}
      
 #map {
        height: 400px;
        width: 100%;
        border: 2px solid #999999;
        border-radius: 5px;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

     #area_input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 350px;
        border-radius: 10px;
        border-color: #337ab7;
      }

      #area_input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      
      #save_button_div{
        margin-top: 10px;
      }