/* IMAGE STYLING*/
img {
  height: 100%;
  width: 100%;
  border: 2px solid #999999;
  border-radius: 5px;
}

body{
  background-color: #ebebeb;
  color: black;
}

label{
  color: #337ab7;
  font-size: 14px;
}

.navbar-header{
  font-weight: bold;
}

#area_input_div {
  margin-bottom: 20px !important;
}

#mapping_message_div{
  padding-top: 25px;
  color: #94631e;
}
      
 #map {
        height: 400px;
        width: 100%;
        border: 2px solid #999999;
        border-radius: 5px;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

     #area_input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
        border-radius: 10px;
        border-color: #337ab7;
      }

      #area_input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      
      #save_button_div{
        margin-top: 10px;
      }